<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/JDBCles1/src/mainJDBCles1/JDBCwithDAO.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mainJDBCles1.JDBCwithDAO"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JDBCles1"/>
</launchConfiguration>
